<!DOCTYPE html>
<html lang="en">
<head>
    {# page #}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {# favicon #}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {# theme #}
    <meta name="theme-color" content="#4c2889">


    {# Primary Meta Tags #}
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="author" content="Kyle Mitofsky">
    <meta name="description" content="{{description}}">
    <link rel="canonical" href="{{url}}{{path}}">

    {# Open Graph / Facebook #}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{url}}{{path}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{url}}/thumbnail.png">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{url}}/thumbnail.png">


    <style> {% include "../assets/styles/site.css" %} </style>

</head>
<body class="no-js" data-state="{{state}}">
     <script> {% include "../assets/scripts/init.js" %} </script>

    <header>
        <a href="/" class="brand" title="home">
          {% include "../assets/github-directory.svg" %}
        </a>
        <h1>Github Directory</h1>
    </header>

    {% include "../assets/waves.svg" %}

    <main>

        <form action="/search" method="get" id="search-form">

            <label for="search-input">Search Github Users</label>
            <div class="input-group">
                <input type="search" name="q" id="search-input" placeholder="e.g. KyleMit" {% if term %} value={{term}} {% endif %} >
                <button type="submit">
                    {% include "../assets/icons/search.svg" %}
                    <span>search</span>
                </button>
            </div>

        </form>

        {# need to include ID for AJAX results #}
        <section id="results">
            {% if results %}
                {% include "./results.njk" %}
            {% endif %}
        </section>

        <section id="splash">
            <h2>type to get started</h2>
            {% include "../assets/images/undraw-people-search.svg" %}

        </section>

        <section id="empty">
            <h2>couldn't find any matches...</h2>
            {% include "../assets/images/undraw-problem-solving.svg" %}

        </section>

        <section id="rate">
            <h2>we've exceeded the rate limit set by Github, try again in a bit</h2>
            {% include "../assets/images/undraw-time-management.svg" %}
        </section>

        <section id="error">
            <h2>whoops, something went wrong :/</h2>
            {% include "../assets/images/undraw-bug-fixing.svg" %}
        </section>

    </main>

    <footer>
        <a href="https://github.com/KyleMit/github-directory">
            {% include "../assets/icons/github.svg" %}
            <span>view source</span>
        </a>
    </footer>


    <div class="d-none">
        {# add svg icons once and reference like this `<svg ><use href="#icon-angle-left"></use></svg> #}
        {% include "../assets/icon-sprite.svg" %}
    </div>

    <script> {% include "../assets/scripts/client.js" %} </script>

</body>
</html>
